* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v0_3 {
  width: 100%;
  height: 3251px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_159 {
  width: 100%;
  height: 607px;
  background: url("../images/v1_159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 44px;
  overflow: hidden;
}

.v1_6 {
  width: 100%;
  height: 607px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_5 {
  width: 100%;
  height: 960px;
  background: url("../images/v1_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 44px;
  overflow: hidden;
}

.v1_9 {
  width: 100%;
  height: 607px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  overflow: hidden;
}

.v1_10 {
  width: 912px;
  height: 646px;
  background: url("../images/v1_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 308px;
  overflow: hidden;
}

.v1_176 {
  width: 100%;
  height: 686px;
  background: url("../images/v1_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 737px;
  left: 0px;
  overflow: hidden;
}

.v1_163 {
  width: 100%;
  height: 676px;
  background: rgba(239, 239, 239, 1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}

.v1_160 {
  width: 100%;
  height: 20px;
  background: rgba(46, 46, 46, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_161 {
  width: 357px;
  height: 44px;
  background: rgba(46, 46, 46, 1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 541px;
  overflow: hidden;
}

.v1_162 {
  width: 100px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 11px;
  left: 670px;
  font-family: Bebas Neue;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v1_164 {
  width: 674px;
  color: rgba(46, 46, 46, 1);
  position: absolute;
  top: 99px;
  left: 383px;
  font-family: Bebas Neue;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}

.v1_168 {
  width: 487px;
  color: rgba(46, 46, 46, 1);
  position: absolute;
  top: 545px;
  left: 476px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v1_166 {
  width: 585px;
  height: 341px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 428px;
  overflow: hidden;
}

.v1_165 {
  width: 586px;
  height: 407px;
  background: url("../images/v1_165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 427px;
  overflow: hidden;
}

.v1_192 {
  width: 100%;
  height: 537px;
  background: url("../images/v1_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1423px;
  left: 0px;
  overflow: hidden;
}

.v1_181 {
  width: 100%;
  height: 537px;
  background: url("../images/v1_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_178 {
  width: 100%;
  height: 537px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_177 {
  width: 100%;
  height: 963px;
  background: url("../images/v1_177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 4px;
  overflow: hidden;
}

.v1_179 {
  width: 100%;
  height: 537px;
  background: rgba(0, 0, 0, 0.38999998569488525);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_191 {
  width: 241px;
  height: 241px;
  background: url("../images/v1_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 222px;
  left: 478px;
  overflow: hidden;
}

.v1_180 {
  width: 171px;
  height: 171px;
  background: rgba(0, 0, 0, 0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 121px;
  overflow: hidden;
}

.v1_183 {
  width: 171px;
  height: 171px;
  background: url("../images/v1_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 121px;
  border: 7px solid rgba(255, 255, 255, 1);
  overflow: hidden;
}

.v1_186 {
  width: 146px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 95px;
  left: 48px;
  font-family: Bebas Neue;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}

.v1_188 {
  width: 146px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 125px;
  left: 48px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v1_350 {
  width: 241px;
  height: 241px;
  background: url("../images/v1_350.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 720px;
  overflow: hidden;
}

.v1_182 {
  width: 171px;
  height: 171px;
  background: rgba(0, 0, 0, 0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  overflow: hidden;
}

.v1_185 {
  width: 171px;
  height: 171px;
  background: url("../images/v1_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  border: 7px solid rgba(255, 255, 255, 1);
  overflow: hidden;
}

.v1_190 {
  width: 146px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 126px;
  left: 48px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v1_189 {
  width: 166px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 96px;
  left: 38px;
  font-family: Bebas Neue;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}

.v1_208 {
  width: 100%;
  height: 589px;
  background: url("../images/v1_208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1960px;
  left: 0px;
  overflow: hidden;
}

.v1_197 {
  width: 100%;
  height: 579px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}

.v1_198 {
  width: 100%;
  height: 20px;
  background: rgba(46, 46, 46, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_199 {
  width: 357px;
  height: 44px;
  background: rgba(46, 46, 46, 1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 541px;
  overflow: hidden;
}

.v1_200 {
  width: 156px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 11px;
  left: 642px;
  font-family: Bebas Neue;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v1_201 {
  width: 441px;
  color: rgba(46, 46, 46, 1);
  position: absolute;
  top: 99px;
  left: 499px;
  font-family: Bebas Neue;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}

.v1_202 {
  width: 150px;
  color: rgba(46, 46, 46, 1);
  position: absolute;
  top: 245px;
  left: 411px;
  font-family: Bebas Neue;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}

.v1_204 {
  width: 144px;
  color: rgba(46, 46, 46, 1);
  position: absolute;
  top: 245px;
  left: 869px;
  font-family: Bebas Neue;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}

.v1_203 {
  width: 183px;
  color: rgba(46, 46, 46, 1);
  position: absolute;
  top: 309px;
  left: 395px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v1_207 {
  width: 161px;
  color: rgba(46, 46, 46, 1);
  position: absolute;
  top: 481px;
  left: 639px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v1_205 {
  width: 286px;
  color: rgba(46, 46, 46, 1);
  position: absolute;
  top: 309px;
  left: 798px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v1_206 {
  width: 299px;
  height: 61px;
  background: url("../images/v1_206.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 467px;
  left: 570px;
  border: 4px solid rgba(46, 46, 46, 1);
  overflow: hidden;
}

.v1_239 {
  width: 100%;
  height: 519px;
  background: url("../images/v1_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2549px;
  left: 59px;
  overflow: hidden;
}

.name {
  color: #fff;
}

.v1_228 {
  width: 461px;
  height: 519px;
  background: rgba(0, 0, 0, 0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 59px;
  overflow: hidden;
}

.v1_230 {
  width: 461px;
  height: 519px;
  background: rgba(0, 0, 0, 0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1038px;
  overflow: hidden;
}

.v1_242 {
  width: 100%;
  height: 183px;
  background: url("../images/v1_242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3068px;
  left: 0px;
  overflow: hidden;
}

.v1_240 {
  width: 100%;
  height: 183px;
  background: rgba(46, 46, 46, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_241 {
  width: 168px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 35px;
  left: 637px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}

.name {
  color: #fff;
}
