* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.v1_243 {
    width: 100%;
    height: 2375px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v1_244 {
    width: 100%;
    height: 183px;
    background: url("../images/v1_244.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2192px;
    left: 0px;
    overflow: hidden;
}

.v1_245 {
    width: 100%;
    height: 183px;
    background: rgba(46, 46, 46, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v1_246 {
    width: 168px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 35px;
    left: 637px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 22px;
    opacity: 1;
    text-align: center;
}

.v1_263 {
    width: 100%;
    height: 596px;
    background: url("../images/v1_263.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 130px;
    left: 0px;
    overflow: hidden;
}

.v1_261 {
    width: 100%;
    height: 596px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v1_260 {
    width: 100%;
    height: 960px;
    background: url("../images/v1_260.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v1_262 {
    width: 929px;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 413px;
    left: 256px;
    overflow: hidden;
}

.v1_264 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 488px;
    left: 574px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 82px;
    opacity: 1;
    text-align: center;
}

.v1_265 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 607px;
    left: 574px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
}

.v1_286 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1554px;
    left: 574px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
}

.v1_267 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 726px;
    left: 354px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.v1_287 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1673px;
    left: 354px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.v1_274 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 976px;
    left: 354px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.v1_288 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1923px;
    left: 354px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.v1_280 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1250px;
    left: 354px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.v1_271 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 726px;
    left: 793px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.v1_289 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1673px;
    left: 793px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.v1_275 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 976px;
    left: 793px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.v1_290 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1923px;
    left: 793px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.v1_281 {
    width: 293px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1250px;
    left: 793px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.v1_270 {
    width: 129px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 896px;
    left: 436px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v1_291 {
    width: 129px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1843px;
    left: 436px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v1_276 {
    width: 129px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1146px;
    left: 436px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v1_292 {
    width: 129px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 2093px;
    left: 436px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v1_282 {
    width: 129px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1420px;
    left: 436px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v1_272 {
    width: 129px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 896px;
    left: 875px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v1_293 {
    width: 129px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1843px;
    left: 875px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v1_277 {
    width: 129px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1146px;
    left: 875px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v1_294 {
    width: 129px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 2093px;
    left: 875px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v1_283 {
    width: 129px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1420px;
    left: 875px;
    font-family: Bebas Neue;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v1_269 {
    width: 237px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 815px;
    left: 382px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v1_295 {
    width: 237px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1762px;
    left: 382px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v1_278 {
    width: 147px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1065px;
    left: 427px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v1_296 {
    width: 185px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 2012px;
    left: 408px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v1_284 {
    width: 147px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1339px;
    left: 427px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v1_273 {
    width: 195px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 815px;
    left: 842px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v1_297 {
    width: 233px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1762px;
    left: 823px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v1_279 {
    width: 233px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1065px;
    left: 823px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v1_298 {
    width: 233px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 2012px;
    left: 823px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v1_285 {
    width: 167px;
    color: rgba(46, 46, 46, 1);
    position: absolute;
    top: 1339px;
    left: 856px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}